.main {
  padding: 0 63% 242px 0;
  background: top right no-repeat url(img/mainImg.svg);
}
.main__title {
  margin:0 0 40px 0;
  font: bold 66px/87px pt_serif,arial,helvetica,sans-serif;
}
.main__subtitle {
margin:0 0 41px 0;
font: 22px/26px Roboto,arial,helvetica,sans-serif;
}
.main__button {
  padding: 18px 21px;
  font: 18px/21px Roboto,arial,helvetica,sans-serif;
  color: #fff;
  background: #0056EC;
  text-decoration: none;
  border-radius: 10px;
  transition: opacity .5s;
}
.main__button:hover {
  opacity: .5;
}
.main__title-text_highlight {
  background: #ECF3FF;
}
.wrapper {
  margin: auto;
  width: 80%;
}
.header {
    display:flex;
    justify-content:space-between;
    margin-bottom: 100px;
    }
.logo {
    position: relative;
    padding: 40px 0;
    padding-left: 44px;
    font: bold 24px/31px pt_serif, arial, helvetica, sans-serif;
  }
.logo__circle {
    position:absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 28px;
    height: 28px;
    border-radius: 50%;
    opacity: .7;
  }
  .logo__circle_color_blue {
  left: 8px;
  top: 56%;
  background: #C8DBFB;
}
  .logo__circle_color_dark_blue{
    background: #0056EC;
  }
  .menu {
  display: flex;
  align-items: center;
}
.menu__item {
  position: relative;
  font: 500 18px/21px Roboto,arial,helvetica,sans-serif;
  margin-right: 26px;
  color: #000;
  text-decoration: none;
  transition: opacity .5s;
}
.menu__item:last-child{
  margin-right: 0;
}
.menu__item:hover:after{
  position: absolute;
  display: block;
  content: "";
  left: 0;
  width: 100%;
  height: 3px;
  background: #0056EC;
  opacity: 0;
  transition: width .5s ease;
  -webkit-transition: width .5s ease;
}
  .menu__item:after{
    position: absolute;
    display: block;
    content: "";
    right: 0;
    width: 0;
    height: 3px;
    background: #0056EC;
    opacity: 0;
    transition: opacity .5s, width .5s;
  }
.menu__item:hover {
  opacity: 0.5;
}
.menu__item:hover:after,.menu__item_active:after{
  opacity: 1;
  width: 100%;
}
@media (min-width:1366px){
  .hamburger-menu {
    display: none;
  }
}
@media (max-width:768px){
  .menu {
    display: none;
    }
  #first   {
    display: none;
  }
  .header {
  margin-bottom: 28px;
}
.main {
  margin-bottom: 32px;
  text-align: center;
  padding: 87% 0 0;
  background-size: 100%;
  background-position: top center;
}
.main__title {
  margin-bottom: 44px;
  font: bold 30px/39px pt_serif, arial, helvetica, sans-serif;
}
.main__title-text_highlight {
  background: #ECF3FF;
}
.main__subtitle {
  font: 500 18px/20px Roboto, arial, helvetica, sans-serif;
}
.main__button{
  font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
}
#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}
.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 50px;
  right: 20px;
  transform: translateY(-50%);
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 25px;
  height: 3px;
  background-color: #0056EC;
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #FFF;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  transition-duration: .25s;
}
.menu__item {
  text-align: center;
  display: block;
  top: 90px;
  padding: 12px 24px;
  color: #000;
  font: 500 34px Roboto, arial, helvetica, sans-serif;
  font-weight: bold;
  text-decoration: none;
  transition-duration: .5s;
}
.menu__item:hover {
  background-color: #CFD8DC;
}
}
