.main {
  padding: 0 63% 15% 0;
  background: top 40% right no-repeat url(img/mainImg.svg);
}
.main__title {
  margin: 20% 10% 0% 0%;
  font: bold 66px/89px pt_serif,arial,helvetica,sans-serif;
}

.main__subtitle {
margin:5% 0% 8% 0%;
font: 22px/26px Roboto, sans-serif, arial, helvetica;
max-width: calc(40em * 0.5);
}
.main__button {
  padding: 18px 27px;
  font: 18px/21px Roboto, sans-serif, arial, helvetica;
  color: #fff;
  background: #0056EC;
  text-decoration: none;
  border-radius: 10px;
  transition: opacity .5s;
}
.main__button:hover {
  opacity: .5;
}
.main__title-text_highlight {
  background: #ECF3FF;
}
.hamburger-menu {
    display: none;
  }
#first {
  padding-left: 5%;
}
.wrapper {
  display: grid;
  grid-template-rows:auto 1fr auto;
  margin: auto;
  width: 80%;
}
.header {
    display:flex;
    justify-content:space-between;
    margin-bottom: 100px;
    }
.logo {
    position: relative;
    padding: 1.6vw;
    padding-left: 1.9vw;
    font: bold 24px/31px pt_serif, arial, helvetica, sans-serif;
  }
.logo__circle {
    position:absolute;
    left: 0%;
    top: 50%;
    transform: translateY(-50%);
    width: 28px;
    height: 28px;
    border-radius: 50%;
    opacity: .7;
  }
.logo__circle_color_blue {
  left: 4%;
  top: 56%;
  background: #C8DBFB;
}
.logo__circle_color_dark_blue{
    background: #0056EC;
  }
.menu {
  display: flex;
  align-items: center;
}
.menu__item {
  position: relative;
  font: 500 18px/21px Roboto, sans-serif, arial, helvetica;
  margin-right: 1.4vw;
  margin-top: 2%;
  color: #000;
  text-decoration: none;
  transition: opacity .5s;
}
.menu__item:last-child{
  margin-right: 0;
}
.menu__item:hover:after{
  position: absolute;
  display: block;
  content: "";
  left: 0;
  width: 100%;
  height: 3px;
  background: #0056EC;
  opacity: 0;
  transition: width .5s ease;
  -webkit-transition: width .5s ease;
}
  .menu__item:after{
    position: absolute;
    display: block;
    content: "";
    right: 0;
    width: 0;
    height: 3px;
    background: #0056EC;
    opacity: 0;
    transition: opacity .5s, width .5s;
  }
.menu__item:hover {
  opacity: 0.5;
}
.menu__item:hover:after,.menu__item_active:after{
  opacity: 1;
  width: 100%;
}
@media (max-width:1367px){
.hamburger-menu {
    display: none;
  }
.header {
      margin-bottom: 6%;
    }
.main {
  background-size: 514px 439px;
  width: 77%;
  height: 53%;
  padding-right: 19%;
;
    }
.main__subtitle {
    margin: 8.3vw 0% 3.7vw 7.7vw;
    font: 18px/26px Roboto, sans-serif, arial, helvetica;
  }
.main__button {
    margin: 7.8vw;
    padding: 16px 25px 14px 16px;
    font: 14px/21px Roboto, sans-serif, arial, helvetica;
  }
.logo {
  padding: 5% 1%;
  padding-left: 13%;
}
#first {
  padding-left: 10%;
}
.logo__circle_color_dark_blue {
  left: 37%;
}
.logo__circle_color_blue {
  left: 40%;
}
.menu__item {
  margin-right: 2vw;
  font: 500 14px/21px Roboto, sans-serif, arial, helvetica;
}
.menu__item:last-child {
    margin-right: 50px;
}
.main__title {
    margin: 3% 42% -10% 13%;
    font: 700 50px/66px pt_serif,arial,helvetica,sans-serif;
}
.three__theerd {
  position:absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  opacity: .7;
}
}
@media (max-width:1025px){
.wrapper{
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    height: 100%;
}
.logo {
    padding: 3.7vw 0vw;
}
#first {
  padding-left: 8.2vw;
}
.logo__circle_color_dark_blue {
    left: 17%;
}
.logo__circle_color_blue {
    left: 20%;
}
.menu__item {
    margin-right: 2.6vw;
}
.menu__item:last-child {
    margin-right: 3.8vw;
}
.main {
  background-size: 514px 439px;
  width: 42%;
  margin-left: 4%;
  height: 66%;
  padding-right: 50%
}
.main__title {
    margin: 10% 10% 0% 0%;
}
.main__button {
    padding: 11px 22px 16px 16px;
    margin: 0;
}
.main__subtitle {
    margin: 3.8vw 4vw 0vw 0vw;
    margin-bottom: 4.2vw;
}
}
@media (max-width:768px){
.wrapper{
      margin-left: 5%;
      margin-right: 5%;
      width: 90%;
      height: 100%;
  }
.logo {
  position: relative;
  padding-top: 20%;
}
.logo__circle {
  width: 30px;
  height: 30px;
}
.logo__circle_color_blue {
 left: 2vw;
 top: 9vw;
}
.logo__circle_color_dark_blue {
 top: 8vw;
}
.menu {
    display: none;
    }
.hamburger-menu {
    display: inline-flex;
      }
  #first   {
    display: none;
}
  .header {
  margin-bottom: 0px;
}
.main {
  width: 90%;
  height: 34%;
  text-align: center;
  padding: 72% 0 0;
  background-size: 77vw 65vw;
  background-position: top center;
}
.main__title {
  text-align: center;
  margin: 8vw 11vw 0vw 6vw;
  font: 700 30px/40px pt_serif, arial, helvetica, sans-serif;
}
.main__subtitle {
  margin: 9.6vw;
  font: 500 18px/19px Roboto, sans-serif, arial, helvetica;
}
.main__button{
  padding: 16px 25px 16px 25px;
  font: 500 14px/10px Roboto, sans-serif, arial, helvetica;
}
#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}
.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 10.9vw;
  right: 6.8vw;
  transform: translateY(-50%);
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 25px;
  height: 3px;
  background-color: #0056EC;
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  padding-top: 50%;
  padding-left: 6%;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  margin: 0;
  list-style: none;
  background-color: #FFF;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  transition-duration: .25s;
  text-align: center;
}
.menu__item {
  position: inherit;
  margin-top: 0;
  display: block;
  padding: 12px 24px;
  color: #333;
  font: 500 30px Roboto, sans-serif, arial, helvetica;
  text-decoration: none;
}
.menu__item:hover {
  background-color: #CFD8DC;
}
}
